.logo {
  @include wh(233px, 75px);
  @include animation(logo 1s steps(23) infinite);
  background-image: url('/img/seasonal_theme/christmas_theme/logo_web.png');
  display: block;
  background-position: 0 0;
  position: relative;

  @at-root {
    @include keyframes(logo) {
      from { background-position: 0; }
      to { background-position: -5359px; }
    }
  }
} //logo
.sidebar--lobby { padding: 15px 30px 35px 30px; }
.game__con {
  @include background-image(linear-gradient(-45deg,#e0b034, #c69a14, #deaf33, #ffd578));
  height: 170px;
  margin-bottom: 18px;
  padding: 7px;

  > div {
    @include box-shadow(0px 4px 3px 0px rgba(0,0,0,0.75));
  }
  &:before {
    @include vm();
    @include wh(96%, 95%);
    @include bradius(all, 10px);
    border: 2px dotted #ddd0a7;
    content: '';
    position: absolute;
    z-index: 1;
  }
}//game__con

.hotgame__thumbnail {
  @include background-image(linear-gradient(-45deg,#e0b034, #c69a14, #deaf33, #ffd578));
  padding: 7px;

  &:before {
    @include vm();
    @include wh(95%, 92%);
    @include bradius(all, 10px);
    border: 2px dotted #ddd0a7;
    content: '';
    position: absolute;
    z-index: 1;
  }

  img {
    @include box-shadow(0px 2px 3px 0px rgba(0,0,0,0.72));
  }
} //hotgame__thumbnail

.sidebar__lang { top: 15px; }
.sidebar {
  h4, h3 {
    @include bradius(all, 10px);
    @include background-image(linear-gradient(to right,#ffca82, #f8a853, #c97826));
  	// background: #98070e;
    color: #ffb849;
  	display: inline-block;
  	font: bold 20px ArvoBold;
  	padding: 2px;
    position: relative;
    border: 4px solid #98070e;

    &:before {
      @include wh(47px, 52px);
      @include bgs('/img/seasonal_theme/christmas_theme/cherry.png', contain);
      content: '';
      position: absolute;
      top: -15px;
      left: -20px;
      z-index: 5;
    }

    span {
      // @include border-gradient(#ffc982, #ca7927);
      @include background-image(linear-gradient(to right, #a10101, #b10101, #af0101));
      @include bradius(all, 4px);
      padding: 4px 45px;
      position: relative;

      &:before {
        @include wh(28px, 29px);
        @include bgs('/img/seasonal_theme/christmas_theme/snowflakes.png', contain);
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
      }
    }
  }//h4

  h3 {
    width: 100%;
    span {
      padding: 2px 0;
      width: 100%;
      text-align: center;
    }
  }


} // sidebar

.sidebar--lobby {
  position: relative;
  &:after {
    @include wh(100%, 40px);
    @include bgs('/img/seasonal_theme/christmas_theme/snow_lobby.png', cover);
    content: '';
    position: absolute;
    bottom: 33px;
    left: 0;
    z-index: -1;
  }
}

.sidebar--game {
  padding: 15px 16px 115px;
  position: relative;
  &:after {
    @include wh(100%, 40px);
    @include bgs('/img/seasonal_theme/christmas_theme/snow_innerpage.png', cover);
    content: '';
    position: absolute;
    bottom: 115px;
    left: 0;
    z-index: -1;
  }
  .timer__items { background: #5b5b5c; }
}

#snow{
  @include wh(100%, 1008px);
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0;
	right: 0;
	z-index: -1;
} //#snow

.snow {
  background: radial-gradient(#ffffff 0.1%, rgba(0, 0, 0, 0) 0.9%) 0 0, radial-gradient(#ffffff 0.1%, rgba(0, 0, 0, 0) 0.6%) 200px 50px, radial-gradient(#ffffff 0.1%, rgba(0, 0, 0, 0) 0.8%) 500px 500px, radial-gradient(#ffffff 0.1%, rgba(0, 0, 0, 0) 0.5%) 400px 700px, radial-gradient(#ffffff 0.1%, rgba(0, 0, 0, 0) 0.5%) 800px 600px;
  background-size: 700px 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.snow1 {
    animation: snow 25s -9s linear infinite;
  }
  &.snow2 {
    animation: snow 25s -3s linear infinite;
  }
  &.snow3 {
    animation: snow 25s -6s linear infinite;
  }

  @at-root {
    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
      }
      50% {
        transform: scale(1.5);
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
      }
    }
    @keyframes snow {
      0% {
        opacitiy: 0;
      }
      70% {
        opacitiy: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        background-position: 0 2000px;
        opacity: 0;
      }
    }  /*snow*/
  }
} //snow

.snowflakes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	z-index: -1;
  &:before {
    content: "\002745";
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: -50%;
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    text-shadow: 0px 0px white, -122vmax 58vmax 2px white, 59vmax -38vmax 0px white, -125vmax -25vmax 2px white, -2vmax 0vmax 2px white, -80vmax 53vmax 3px white, 19vmax -137vmax 0px white, -24vmax 99vmax 0px white, -112vmax 121vmax 0px white, 112vmax 22vmax 3px white, -26vmax -115vmax 1px white, -146vmax 94vmax 3px white, 113vmax -13vmax 3px white, 78vmax -83vmax 0px white, 144vmax 76vmax 3px white, 109vmax -12vmax 1px white, -16vmax 60vmax 2px white, -47vmax -40vmax 3px white, -43vmax -113vmax 3px white, -33vmax -107vmax 2px white, -115vmax -32vmax 1px white, -97vmax 141vmax 0px white, 135vmax 1vmax 2px white, -59vmax 3vmax 1px white, 125vmax 134vmax 2px white, -14vmax -140vmax 1px white, 49vmax -148vmax 2px white, -62vmax -77vmax 1px white, -60vmax 123vmax 2px white, -131vmax 78vmax 0px white, -43vmax 95vmax 2px white, -99vmax 80vmax 2px white, 70vmax 31vmax 3px white, 44vmax -58vmax 0px white, -35vmax -130vmax 0px white, -77vmax 69vmax 3px white, 0vmax 130vmax 1px white, -98vmax 25vmax 2px white, 84vmax -59vmax 2px white, 138vmax -7vmax 1px white, 92vmax -82vmax 1px white, 66vmax -134vmax 3px white, 123vmax -131vmax 3px white, -55vmax -100vmax 0px white, -141vmax 141vmax 2px white, -26vmax 150vmax 2px white, -124vmax -72vmax 2px white, -6vmax -71vmax 1px white, -18vmax 74vmax 1px white, 77vmax -37vmax 0px white, -45vmax -7vmax 3px white, -16vmax 21vmax 3px white, -38vmax 100vmax 1px white, -20vmax 13vmax 3px white, -9vmax -39vmax 2px white, 5vmax 32vmax 0px white, 82vmax 88vmax 1px white, 105vmax 106vmax 2px white, -123vmax -73vmax 0px white, 111vmax 103vmax 1px white, 28vmax 44vmax 3px white, -13vmax -87vmax 0px white, -141vmax -39vmax 2px white, 143vmax -121vmax 3px white, -133vmax 22vmax 0px white, -140vmax -56vmax 2px white, 92vmax -143vmax 0px white, -100vmax 46vmax 2px white, 131vmax -39vmax 2px white, 120vmax 58vmax 1px white, 139vmax -68vmax 1px white, 128vmax 37vmax 0px white, -137vmax -103vmax 1px white, 83vmax -56vmax 0px white, 137vmax 116vmax 2px white, -43vmax 125vmax 0px white, -40vmax -15vmax 2px white, 42vmax 101vmax 2px white, 149vmax -137vmax 3px white, 104vmax -148vmax 0px white, -65vmax 19vmax 2px white, 48vmax 78vmax 3px white, -63vmax 28vmax 1px white, 94vmax -129vmax 1px white, -27vmax 108vmax 0px white, -11vmax 67vmax 1px white, 114vmax 18vmax 2px white, 59vmax 96vmax 1px white, -46vmax -6vmax 1px white, 4vmax 28vmax 0px white, -116vmax -63vmax 1px white, 87vmax -62vmax 2px white, -27vmax 111vmax 1px white, 36vmax -51vmax 3px white, 9vmax -51vmax 3px white, 53vmax -111vmax 0px white, 22vmax -146vmax 0px white, -115vmax -131vmax 2px white, -146vmax 31vmax 0px white, 129vmax 2vmax 0px white, 106vmax 76vmax 2px white, -121vmax 106vmax 2px white, 55vmax -40vmax 1px white, -3vmax 70vmax 1px white, 55vmax -117vmax 1px white, -109vmax 1vmax 2px white, 5vmax 37vmax 0px white, -103vmax -86vmax 1px white, 78vmax 52vmax 3px white, -45vmax -142vmax 0px white, 113vmax -102vmax 3px white, -43vmax 147vmax 3px white, -108vmax 1vmax 1px white, 86vmax -139vmax 2px white, -137vmax -39vmax 0px white, -132vmax 122vmax 3px white, 98vmax -9vmax 3px white, -81vmax -77vmax 1px white, 93vmax 74vmax 3px white, 116vmax -118vmax 3px white, 61vmax -12vmax 0px white, -102vmax 149vmax 3px white, 69vmax 46vmax 0px white, -98vmax -80vmax 2px white, 27vmax 101vmax 2px white, -104vmax 31vmax 0px white, 23vmax 2vmax 1px white, -4vmax 14vmax 0px white, -59vmax 138vmax 1px white, 6vmax -62vmax 2px white, -46vmax 5vmax 2px white, 131vmax 17vmax 3px white, -76vmax -5vmax 3px white, -120vmax 47vmax 2px white, 118vmax -17vmax 1px white, -148vmax 137vmax 1px white, -139vmax -79vmax 2px white, 19vmax -99vmax 2px white, 85vmax 103vmax 3px white, -36vmax 108vmax 1px white, -132vmax -37vmax 0px white, 126vmax 121vmax 3px white, -49vmax -134vmax 2px white, 73vmax 89vmax 2px white, 79vmax -67vmax 2px white, 100vmax -79vmax 3px white, -23vmax 89vmax 3px white, -124vmax 87vmax 0px white, -47vmax -100vmax 1px white, 76vmax 80vmax 3px white, 59vmax -125vmax 3px white, 93vmax -146vmax 2px white, 15vmax -77vmax 2px white, 149vmax 98vmax 1px white, 48vmax 105vmax 3px white, 99vmax 72vmax 1px white, -117vmax -39vmax 1px white, 44vmax 109vmax 1px white, -102vmax -16vmax 2px white, 94vmax 133vmax 3px white, -136vmax 25vmax 0px white, 142vmax 71vmax 3px white, 142vmax -127vmax 1px white, 4vmax -19vmax 3px white, 87vmax 101vmax 1px white, -12vmax 82vmax 0px white, 30vmax -91vmax 0px white, -48vmax 16vmax 3px white, 35vmax -65vmax 0px white, 60vmax -83vmax 2px white, -121vmax 136vmax 1px white, -47vmax 34vmax 3px white, -149vmax -95vmax 0px white, 63vmax 83vmax 2px white, 41vmax -60vmax 3px white, -108vmax 142vmax 2px white, 2vmax -140vmax 3px white, 122vmax -104vmax 2px white, -83vmax 40vmax 3px white, 91vmax -41vmax 2px white, 125vmax 90vmax 3px white, -45vmax 68vmax 1px white, -77vmax 0vmax 3px white, 10vmax -34vmax 3px white, 39vmax 82vmax 2px white, 128vmax 77vmax 0px white, -77vmax 7vmax 2px white, -34vmax -136vmax 0px white, -12vmax -10vmax 0px white, 52vmax -149vmax 3px white, 23vmax 143vmax 0px white, 57vmax 96vmax 1px white, 110vmax 143vmax 3px white, 67vmax 51vmax 2px white, -113vmax -2vmax 1px white, -130vmax 95vmax 3px white, 65vmax -139vmax 2px white, -18vmax 21vmax 3px white, -128vmax 142vmax 0px white, -119vmax 96vmax 3px white, -9vmax 129vmax 0px white, 58vmax 28vmax 1px white, -32vmax -65vmax 1px white, -4vmax 13vmax 2px white, -93vmax 88vmax 2px white, 123vmax -20vmax 2px white, -38vmax -106vmax 2px white, 124vmax 7vmax 2px white, 19vmax 5vmax 3px white, 71vmax 112vmax 3px white, 103vmax -126vmax 1px white, 79vmax -136vmax 0px white, 0vmax -86vmax 1px white, 129vmax -76vmax 0px white, -144vmax -40vmax 0px white, 92vmax 80vmax 0px white, 35vmax 41vmax 0px white, 20vmax 114vmax 1px white, -76vmax -82vmax 0px white, 110vmax 121vmax 3px white, -22vmax -2vmax 0px white, -1vmax 21vmax 1px white, 58vmax 130vmax 3px white, -129vmax 129vmax 1px white, 21vmax -30vmax 1px white, 82vmax 6vmax 2px white, 65vmax 21vmax 1px white, -139vmax 144vmax 0px white, -97vmax 19vmax 0px white, 118vmax -79vmax 1px white, -127vmax 115vmax 1px white, -148vmax -141vmax 1px white, -88vmax -38vmax 2px white, 138vmax -11vmax 3px white, 33vmax -15vmax 0px white, 51vmax 61vmax 0px white, 66vmax 112vmax 2px white, 30vmax 65vmax 0px white, -114vmax 31vmax 2px white, 80vmax -60vmax 3px white, 34vmax 13vmax 1px white, 6vmax 128vmax 2px white, -19vmax 47vmax 3px white, -87vmax -91vmax 2px white, -90vmax -90vmax 1px white, -109vmax -20vmax 3px white, 115vmax -66vmax 1px white, 14vmax -29vmax 3px white, 106vmax 72vmax 0px white, 54vmax 98vmax 3px white, -147vmax -112vmax 3px white, 99vmax 57vmax 3px white, -27vmax 36vmax 3px white, 104vmax -85vmax 2px white, 24vmax 4vmax 2px white, 30vmax -23vmax 0px white, -23vmax 84vmax 0px white, -88vmax 15vmax 2px white, -18vmax 12vmax 2px white, 108vmax -117vmax 3px white, -26vmax 26vmax 1px white, 144vmax -78vmax 2px white, -64vmax -102vmax 1px white, 110vmax -143vmax 3px white, -120vmax 29vmax 2px white, 118vmax 147vmax 1px white, -69vmax -96vmax 1px white, -146vmax 138vmax 3px white, 32vmax -17vmax 3px white, -48vmax -82vmax 2px white, 123vmax 54vmax 3px white, 21vmax 114vmax 2px white, 28vmax 119vmax 1px white, 104vmax -7vmax 2px white, 97vmax 80vmax 2px white, -55vmax 83vmax 1px white, 80vmax -133vmax 0px white, 6vmax -80vmax 1px white, 5vmax -61vmax 0px white, 26vmax 82vmax 3px white, 118vmax 82vmax 0px white, 40vmax 15vmax 3px white, -122vmax -66vmax 2px white, 126vmax -92vmax 3px white, -5vmax 66vmax 2px white, -93vmax -91vmax 0px white, 36vmax 100vmax 3px white, -107vmax -28vmax 1px white, -9vmax 94vmax 3px white, 146vmax 77vmax 0px white, -128vmax -123vmax 1px white, 59vmax 66vmax 1px white, 34vmax -48vmax 2px white, -60vmax 2vmax 3px white, 37vmax 46vmax 3px white, -75vmax -129vmax 1px white, 89vmax 128vmax 1px white, 114vmax 70vmax 1px white, -80vmax 51vmax 2px white, -6vmax 145vmax 3px white, -78vmax 64vmax 3px white;
    animation: snowflakes 100s linear 0s infinite normal; }
  @at-root {
    @keyframes snowflakes {
      0% {
        transform: rotate(0deg); }
      100% {
        transform: rotate(360deg); }
    }

  }
} //snowflakes
// vars
