// .logo {
//   @include wh(338px, 72px);
//   @include animation(logo 3s steps(38) infinite);
//   background-image: url('/img/seasonal_theme/newyear_theme/logo_web.png');
//   display: block;
//   background-position: 0 0;
//   position: relative;
//   margin-left: -60px;
//
//   @at-root {
//     @include keyframes(logo) {
//       from { background-position: 0; }
//       to { background-position: -12844px; }
//     }
//   }
// } //logo

/*************** CONCEPT 1 ****************/
.sidebar-container {
  position: relative;
  display: block;
  z-index: 30;
}
.sidebar--lobby {
  @include bgs('/img/seasonal_theme/newyear_theme/sidebar_bg.png', contain);
  padding: 15px 30px 35px 30px;

  &:before {
    @include wh(504px, 127px);
    @include animation(lobby_window 5s steps(6) infinite);
    background-image: url('/img/seasonal_theme/newyear_theme/lobby-window.png');
    content:'';
    position: absolute;
    bottom: 215px;
    left: 6px;

    @at-root {
      @include keyframes(lobby_window) {
        from { background-position: 0; }
        to { background-position: -3024px; }
      }
    }
  }
}

.sidebar--game {
  @include bgs('/img/seasonal_theme/newyear_theme/sidebar_livegames.png', contain);
  padding: 15px 30px 35px 30px;

  &:before {
    @include wh(145px, 80px);
    @include animation(inner_window 5s steps(5) infinite);
    background-image: url('/img/seasonal_theme/newyear_theme/inner-window.png');
    content:'';
    position: absolute;
    bottom: 217px;
    left: 35px;

    @at-root {
      @include keyframes(inner_window) {
        from { background-position: 0; }
        to { background-position: -725px; }
      }
    }
  }
}
.sidebar__lang { z-index: 50; }
.sidebar {
  h4 {
    @include bradius(all, 7px);
    @include background-image(linear-gradient(to right, #251d44, #38204d, #482254));
    border: 2px solid #d89e45;
    color: #ffc14a;
  	display: inline-block;
  	font: bold 20px ArvoBold;
    line-height: 1;
  	padding: 5px 7px;
    position: relative;

    span {
      border: 1px solid #d89e45;
      padding: 5px 25px;
      position: relative;

      &:before, &:after {
        @include wh(8px, 37px);
        content: '';
        position: absolute;
        top: -3px;
      }
      &:before {
        @include bgs('/img/seasonal_theme/newyear_theme/border.png', contain);
        left: -4px;
      }
      &:after {
        @include bgs('/img/seasonal_theme/newyear_theme/border.png', contain);
        @include transform(rotate(180deg));
        right: -4px;
      }
    }

    &:before {
      @include vm();
      @include wh(88%, 89%);
      @include border(tb,1px solid #d89e45);
      content: '';
      position: absolute;
    }

    // &:after {
    //   @include vm();
    //   @include wh(97%, 60%);
    //   @include border(lr,1px solid #d89e45);
    //   content: '';
    //   position: absolute;
    // }
  }

} //sidebar

.game__con { margin-bottom: 20px; }

.fireworks-con, .loading-fireworks-con {
  @include wh(100%, 100%);
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  span {
    @include bgs('/img/seasonal_theme/newyear_theme/fireworks.png', contain);
    @include animation(fireworks 2s infinite);

    position: absolute;
  //   top: 10%;
  //   left: 10%;

  &.fireworks1, &.fireworks-sb { @include opacity(0); }
  &.fireworks2 { @include opacity(0); @include bgs('/img/seasonal_theme/newyear_theme/fireworks2.png', contain);  }
  &.fireworks3 { @include opacity(0); @include bgs('/img/seasonal_theme/newyear_theme/fireworks3.png', contain);  }
    @at-root {
      @include keyframes(fireworks) {
        0% {
          @include transform(scale(0));
          @include opacity(0);
        }
        70% {
          @include opacity(1);
        }
        100% {
          @include transform(scale(1));
          @include opacity(0);
        }
      }
    }
  }
}

// @for $i from 1 through 5 {
//   $width_height: random(284) + 50;
//   $speed : random(1) + 3;
//   $delay : random(6);
//
//   $top: random(43) + 4;
//   $left: random(90) - 13;
//
//   .fireworks:nth-child(#{$i}) {
//     @include animation(fireworks 2s $delay+s infinite);
//     width: $width_height + px;
//     height: $width_height - 1 + px;
//     top: $top + 1%;
//     left: $left + 1%;
//     z-index: random(10);
//   }
//
//   @include keyframes(fireworks) {
//     0% {
//       @include transform(scale(0));
//       @include opacity(0);
//     }
//     50% {
//       @include opacity(1);
//     }
//     100% {
//       @include transform(scale(1));
//       @include opacity(0);
//     }
//   }
// }
